[IRI]
PORT = 14266
UDP_RECEIVER_PORT = 14266
TCP_RECEIVER_PORT = 15601
NEIGHBORS = udp://54.89.64.183:14600 udp://61.66.218.220:14600 tcp://p101.testnet.iota.cafe:15666 tcp://p102.testnet.iota.cafe:15666 tcp://p103.testnet.iota.cafe:15666 tcp://p104.testnet.iota.cafe:15666
IXI_DIR = ixi
HEADLESS = true
DEBUG = false
TESTNET = true
