[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = tcp://wiix.qal.io:15600 tcp://amon.qal.io:15600 tcp://node05.nodeblie.de:15600 udp://46.4.103.105:14600 tcp://5.189.136.51:14600 tcp://xeevee.ddns.net:15600 tcp://node10.puyuma.org:15600
IXI_DIR = ixi
HEADLESS = true
DEBUG = true
ZMQ_ENABLED = true
