[IRI]
PORT = 14265
UDP_RECEIVER_PORT = 14265
NEIGHBORS = tcp://wiix.qal.io:15600 tcp://amon.qal.io:15600 tcp://node05.nodeblie.de:15600 udp://46.4.103.105:14600 udp://node.iota.moe:14600 tcp://iota.westeurope.cloudapp.azure.com:15600 udp://18.136.51.188:19775 tcp://5.189.136.51:14600 tcp://xeevee.ddns.net:15600 tcp://phirabuiota.hopto.org:15600
IXI_DIR = ixi
HEADLESS = true
DEBUG = false
ZMQ_ENABLED = true
